/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  min-block-size: 100vh;
  margin: 0;
  color: var(--text-color);
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: fixed;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 23.4px;
  display: grid;
  padding: 10px;
  overflow: auto;
  margin: 0 auto;
  /*content goes to the center*/
}

.card__title {
  font-weight: 700;
  font-size: inherit;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  content: '';
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--corner-color);
  border-block-start: 1px solid var(--corner-color);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--corner-color);
  border-block-end: 1px solid var(--corner-color);
  inset-inline-start: 0;
  inset-block-end: 20px;
}

.header,
.footer {
  min-block-size: 668px;
  /*block-size: 100vh;*/
}

.header {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  position: relative;
}

.rec {
  position: absolute;
  inset-inline-end: 28px;
  color: var(--accent-color);
  line-height: 1.4;
  text-transform: uppercase;
}

.rec::after {
  position: absolute;
  inset-inline-start: 43px;
  inset-block-start: 8px;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  content: '';
  border-radius: 50%;
  box-shadow: 0 0 6px 3px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  /*color: var(--accent-color); removed to default*/
  margin-block-start: 60px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.header__theme-menu-button {
  min-inline-size: 70px;
  text-transform: lowercase;
  background-color: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-border-hover);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-border);
  pointer-events: none;
}

.header__title {
  align-self: center;
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--header__title-small);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-block-start: 8px;
}

.header__description {
  font-weight: 700;
  align-self: center;
  margin-block-end: 75px;
}

.title-decor,
.section__title.title-decor {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  display: inline-block;
}

.main {
  display: grid;
  row-gap: 50px;
}

.header {
  margin-block-end: 30px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  color: var(--muted-color);
}

.section__text {
  max-inline-size: 100%;
}

.cards-list {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.card__title_thin {
  font-weight: 400;
}

.section_gallery .section__title {
  inline-size: 100%;
}

.gallery__list {
  display: grid;
  gap: 10px;
  margin-block-start: -10px;
}

.gallery__item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  margin-block-start: 40px;
  display: grid;
  place-items: center;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--header__title-small);
  line-height: 0.83;
  text-shadow: 2px 2px 0 var(--accent-color);
}

a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

a:hover {
  border-block-end: 1px solid currentColor;
}

a:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

/* ------------------------MEDIUM SCREEN------------------------------- */
@media (min-width: 768px) {

  .page {
    padding: 20px;
  }

  .header,
  .footer {
    min-block-size: 1024px;
    /*block-size: 100vh;*/
  }

  .footer {
    margin-block-start: 60px;
  }

  .header__theme-menu {
    grid-column: 2;
    margin-top: 168px;
    align-self: flex-start;
    justify-self: flex-end;
  }

  .decorated-zone::after {
    inset-block-end: 40px;
  }

  .main {
    gap: 80px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }

  .header__title {
    grid-column: 1 / -1;
    font-size: var(--header__title-big);
    white-space: nowrap;
    margin-inline-start: -20px;
  }

  .header__title-word {
    display: inline;
  }

  .header__description {
    grid-column: 2;
    margin-block-end: 202px;
  }

  .section {
    grid-template-columns: 236px 1fr;
    align-items: start;
  }

  .cards-list {
    grid-column: 2;
  }

  .section_intro {
    margin-block-start: 10px;
  }

  .section_reasons .section__title {
    grid-column: 1;
    grid-row: 1;
  }

  .section_reasons .cards-list {
    grid-column: 1 / -1;
  }

  .section_gallery .section__title {
    grid-column: 1 / -1;
    margin-block-start: -2px;
  }

  .gallery__list {
    margin-block-start: 1px;
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "sunset sunset icecream"
      "tape books icecream"
      "tape street street";
    gap: 20px;
  }

  .gallery__item:first-child {
    grid-area: sunset;
  }

  .gallery__item:nth-child(2) {
    grid-area: icecream;
  }

  .gallery__item:nth-child(3) {
    grid-area: tape;
  }

  .gallery__item:nth-child(4) {
    grid-area: books;
  }

  .gallery__item:nth-child(5) {
    grid-area: street;
  }

  .footer__title {
    color: var(--title-color);
    font-weight: 700;
    font-size: var(--header__title-big);
    line-height: 0.83;
  }
}

/* ------------------------DESKTOP SCREEN------------------------------- */
@media (min-width: 1024px) {

  .header,
  .footer {
    min-block-size: 768px;
  }

  .header__theme-menu {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    align-items: center;
  }

  .header__title {
    align-self: start;
    margin-block-start: 273px;
  }

  .header__description {
    margin-block-start: 114px;
    margin-block-end: 160px;
  }

  .section {
    grid-template-columns: 315px 1fr;
  }

  .section_intro {
    margin-block-start: 4px;
  }

  .cards-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .section_intro .cards-list,
  .section_tips .cards-list {
    grid-template-columns: 1fr;
  }

  .section_reasons .card {
    display: block;
  }

  .section_reasons .card__title {
    margin: 0 0 10px 0;
  }

  .card__title.title-decor {
    display: block;
    inline-size: 100%;
  }

  .card__text {
    margin: 0;
  }
}